<div class="parentheader m-3 ">
    <h2>CHILD</h2>
</div>
<div class="message text-center">
    <p>message: {{childMessage}}</p>
</div>

<div class="parentContent  d-flex m-5">
    
    <div class="service m-auto">
        <button (click)="onClickServiceChildButton()" class="serv btn btn-primary m-2">Use Service</button>
    </div>
    <div class="inputProp m-auto">
        <button (click)="sendChildMessage()" class="prop btn btn-primary">Use Output Property</button>
    </div>
    <div class="observable m-auto">
        <button (click)="onClickObservableChildButton()" class="obs btn btn-primary">Use Observable</button>
    </div>
    
</div>
