<router-outlet></router-outlet>
<!--Pipe A mayuscula
<h1>{{title | uppercase}}</h1>
 Pipe a minuscula -->
<!--<h3>{{title | lowercase}}</h3>
Pipe para inicial mayuscula -->
<!--<h3>{{title | titlecase}}</h3>
Pipe que muestra desde la posición 10 a la 10 -->
<!--<h3>{{title | slice:3:12}}</h3>
Combinando Pipes -->
<!--<h3>{{title | slice:0:10 | titlecase}}</h3>
<p>{{title}}</p>
Probando un componente de primeNg -->
<!--<button pButton>Boton 1</button>
en el boton 2 al declararlo asi tiene un ripple mayor -->
<!--<p-button >Boton 2</p-button>
aunque pongamos ripple no es perceptible, pero podemos usar clase de boton y cambiar el color -->
<!--<button pButton pRipple class="p-button-success">Boton 3</button>
Podemos mostrar un boton con un icono de la libreria -->
<!--<p-button label="Click" icon="pi pi-check" iconPos="left"></p-button>
<i class="pi pi-check"></i> -->

<shared-menu></shared-menu>


<router-outlet></router-outlet>